/* Resets */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* variaveis */
:root {
	--primary: #ed7839;
	--secondary: #fdf1eb;
	--text-darker: #725c5c;
	--text: #5c5c5c;
	--bg-gradient-primary: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
	--text-light: #fff;
	--divider-color: #e7e7e7;
}

/* layout */

.coluna-nav {
	color: white;
	height: 100vh;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.coluna-conteudo {
	max-height: 100vh;
	overflow: auto;
}

main.container {
	padding-left: 43px;
	padding-right: 44px;
	padding-top: 20px;
	padding-bottom: 50px;
}

/* barra de navegacao */

.logo-text {
	background: var(--bg-gradient-primary);
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	padding: 1rem 0;
	text-align: center;
	color: var(--text-light);
}

.nav-link {
	font-family: "Quicksand";
	font-weight: 500;
	font-size: 15px;
	line-height: 19px;
	font-style: normal;
	color: var(--text-darker);
	padding-left: 24px !important;
}

hr.nav-divider {
	background-color: var(--divider-color);
	height: 2px !important;
	width: 100%;
	margin: 0;
	opacity: 1;
}

nav.navbar {
	background-color: #fff !important;
}

.nav-link.active {
	background-color: var(--secondary);
	border-left-width: 5px;
	border-left-style: solid;
	border-image: var(--bg-gradient-primary) 1;
}

/* Conteudo da pagina */

/* header - descricao*/
.header {
	background-color: var(--secondary);
	font-family: "Roboto";
	font-weight: 400;
	padding-left: 36px;
	padding-right: 36px;
	padding-top: 5px;
	padding-bottom: 4px;
}

.header__descricao-curta,
.header__issn {
	font-size: 14px;
	margin-bottom: 0;
	line-height: 16.41px;
	color: var(--text-darker);
}

.header__descricao {
	font-size: 22px;
	margin-bottom: 0;
	margin-top: 2px;
	line-height: 25.78px;
	color: var(--text-darker);
}

/* header - idioma */

.btn-idioma-container {
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding-bottom: 8px;
	padding-top: 5px;
	padding-left: 9px;
	margin-right: 22px;
}

/* resolver a descentralizacao do icone por conta do espaco em branco
que esta presente na parte superior da imagem */
.icon-idioma {
	position: relative;
	top: -1px;
}

.select-idioma {
	box-sizing: content-box;
	width: 6ch;
	background-image: none;
	appearance: none;
	border: none;
	background-color: transparent;
	background-image: url("./assets/icons/icon-dropdown.svg");
	display: inline-block;
	background-repeat: no-repeat;
	background-position: right 13px center;
	padding-right: 24px;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;

	/* identical to box height */

	color: #333333;
}

.select-idioma-icon {
	background-image: url("./assets/icons/icon-language.svg");
}

/* header - informacao de usuario */

.user-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

.user-info__img {
	height: 30px;
	width: 30px;
}

.user-info__text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: 6.85px;
	color: #333;
}

.user-info__greetings {
	font-size: 14px;
	font-family: "Quicksand";
	font-weight: 400;
	line-height: 18px;
	margin-bottom: 1px;
}

.user-info__email {
	font-size: 12px;
	line-height: 15px;
	font-family: "Quicksand";
	font-weight: 400;
}

.user-info__img-badge {
	background-color: #f85959;
	color: #fff;
	font-size: 10px;
	font-family: "Roboto";
	font-weight: 700;
	line-height: 12px;
	height: 12px;
	width: 12px;
	text-align: center;
	position: absolute;
	right: -1.85px;
	top: -1.68px;
}

/* Corpo do conteudo */

/* seçao de apresentação */
/* coluna do video */
.coluna-video {
	padding-right: 40px;
}

.coluna-video__titulo {
	color: var(--primary);
	font-weight: 900;
	font-size: 20px;
	font-family: "Roboto";
	line-height: 25px;
	letter-spacing: 0.05em;
	font-style: normal;
	margin-bottom: 19px;
}

.coluna-video__video-container {
	aspect-ratio: 784 / 439; /* respeitando o aspect-ratio do mockup*/
	width: 100%;

	background-color: darkseagreen;
	border-radius: 3px;
	position: relative;
}

.video {
	width: 100%;
}

.video-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(141, 53, 6, 0.5);
	padding-top: 35px;
	padding-left: 32px;
	padding-right: 17px;
	padding-bottom: 52px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.video-overlay__titulo {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 25px;

	/* or 104% */
	letter-spacing: 0.05em;

	color: #ffffff;
}

.video-overlay__legenda {
	display: flex;
	align-items: center;
	gap: 19px;
}

.legenda .legenda__nome {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 34px;
	line-height: 25px;
	letter-spacing: 0.05em;
	color: #ffffff;
	margin-bottom: 5px;
}

.legenda .legenda__descricao {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 25px;
	letter-spacing: 0.05em;
	margin-bottom: 0px;
	color: #ffffff;
}

/* coluna de detalhes */

.coluna-detalhes {
	display: flex;
	flex-direction: column;
}

.coluna-detalhes__botoes {
	display: flex;
	justify-content: flex-end;
	gap: 5px;
}

.coluna-detalhes__botoes .btn {
	background-color: var(--primary);
	color: #fff;
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 16px;
	line-height: 19px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	border-radius: 4px;
}

.coluna-detalhes > h3 {
	font-size: 14px;
	font-weight: 500;
	line-height: 25px;
	text-align: right;
	font-style: normal;
	font-family: "Roboto";
	color: var(--primary);
}

.coluna-detalhes__painel {
	border-radius: 3px;
	overflow: hidden;

	border: 1px solid #ececec;
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.coluna-detalhes__painel > h2 {
	background-color: var(--secondary);
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 11px;
	padding-bottom: 9px;
	font-size: 20px;
	line-height: 25px;
	font-weight: 500;
	font-style: normal;
	font-family: "Roboto";
	color: #4e4e4e;
	border: 1px solid #ececec;
	margin-bottom: 0;
}

.coluna-detalhes__detalhes {
	overflow: auto;
	position: relative;
	flex-grow: 1;
}

.coluna-detalhes__detalhes .position-absolute {
	padding: 15px;
}

.coluna-detalhes .detalhe {
	margin-bottom: 0;
}

.coluna-detalhes .detalhe [class$="label"] {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #5c5c5c;
}

.coluna-detalhes .detalhe [class$="valor"] {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	color: #5c5c5c;
}

.coluna-detalhes :is(.autores__label, .autor) {
	font-family: "Quicksand";
	font-style: normal;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 0;
	color: #5c5c5c;
}

.coluna-detalhes .autores__label {
	margin-top: 14px;
	font-weight: 700;
}

.coluna-detalhes .autor {
	font-weight: 400;
}

.coluna-detalhes footer {
	margin-top: 28px;
}

.coluna-detalhes .nota-rodape {
	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
	font-family: "Quicksand";
	letter-spacing: 0.02em;
	color: #ada0a0;
	margin-bottom: 0;
}

/* secao resumo */

.resumo {
	margin-top: 30px;
	/* background-color: beige; */
	border: 1px solid #ececec;
	border-radius: 3px;
	cursor: pointer;
}

.resumo__label {
	padding: 10px 15px;
	font-size: 20px;
	font-family: "Roboto";
	font-weight: 500;
	line-height: 25px;
	color: #4e4e4e;
	background-color: var(--secondary);
	border: 1px solid #ececec;
	margin-bottom: 0;
}

.resumo__conteudo-container {
	padding: 15px;
	/* background-color: #ed7839; */
	position: relative;
}

.resumo__conteudo {
	/* background-color: yellow; */
	height: 115px; /* 5 linhas de 23px cada */
	transition-property: height;
	transition-duration: 300ms;
	transition-timing-function: ease-out;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 23px;
	letter-spacing: 0.02em;
	font-size: 14px;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 400;
	color: #5c5c5c;
}

#btn-ver-mais {
	position: absolute;
	bottom: 15px;
	right: 15px;
	background-color: #fff;
	padding-left: 1ch;
	color: #ed7839;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	text-decoration: none;
}

/* ===================== secao Discussoes ==============================*/

.discussoes {
	border: 1px solid #ececec;
	border-radius: 3px;
	margin-top: 30px;
}

.discussoes__label {
	background-color: var(--secondary);
	padding: 16px 10px;
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 500;
	line-height: 25px;
	font-family: "Roboto";
	font-style: normal;
	color: #4e4e4e;
}

.discussoes__conteudo {
	padding: 15px;
}

/* ====================== criar topico ================================ */

.home-topico {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-topico > h3 {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 27px;
	color: #ed7839;
}

.barra-icones {
	display: flex;
	gap: 51.74px;
	margin-bottom: 35.06px;
}

.home-topico > p {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-align: center;

	color: #595959;

	width: clamp(200px, 100%, 626px);
}

.btn-criar-topico {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
}

.btn-criar-topico__divisor {
	position: absolute;
	height: 2px;
	background-color: #e7e7e7;
	width: 100%;
	top: calc(50% - 2px);
	z-index: -1;
}

.btn-criar-topico__btn {
	background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
	border-radius: 4px;
	border: none;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 14px;
	padding-right: 13px;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 16px;
	text-align: center;
	display: flex;
	gap: 6px;
	color: #ffffff;
}

/* ========================= editor de novo topico ======================== */

.novo-topico {
	width: 100%;
}

.novo-topico__header {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #5c5c5c;
	margin-bottom: 22px;
}

.novo-topico__divider {
	border: 1px solid #e7e7e7;
	margin-bottom: 30px;
}

.assunto {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.assunto__label {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #ed7839;
	margin-bottom: 1px;
}

.assunto__input {
	border-radius: 3px;
	border: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 11px;
	padding-left: 23px;
	padding-right: 23px;
}

.conteudo {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.conteudo__label {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #ed7839;
	margin-bottom: 4px;
}

.conteudo__input {
	border: 1px solid #ccc;
	border-radius: 3px 3px 0px 0px;

	resize: none;
	height: 200px;
	width: 100%;
}

#editor-toolbar {
	display: flex;
}

#editor-toolbar__toolbar {
	flex-grow: 7;
	border-top: none;
	border-radius: 0px 0px 0px 3px;
	display: flex;
	background: #eaf1f2;
}

.btn-enviar-novo-topico {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 16px;
	text-align: center;
	border: none;
	color: #ffffff;
	flex-grow: 3;
	background: linear-gradient(180deg, #feb154 0%, #f1833e 100%);
	border-radius: 0px 0px 3px 0px;
}

/* ================================ perguntas ==============================*/

.pergunta {
	border-radius: 4px;
	border: 1px solid #e7e7e7;
}

.pergunta:not(:last-child) {
	margin-bottom: 17px;
}

.pergunta-container {
	padding-left: 24px;
	padding-right: 23px;
	padding-bottom: 18px;
	padding-top: 17px;
}

.pergunta-header .pergunta__assunto {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #ed7839;
}

.pergunta-header .pergunta__autor {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #5c5c5c;
}

.pergunta-footer {
	margin-top: 11px;
	display: flex;
	align-items: center;
	gap: 15px;
}

.pergunta-footer button {
	border: none;
}

.pergunta-footer .btn-like {
	padding-left: 6px;
	padding-right: 7px;
	padding-top: 3px;
	padding-bottom: 2px;
	height: 19px;
	display: grid;
	place-items: center;
	background: #ed7839;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
	border-radius: 2px;
}

.pergunta-footer .btn-mais {
	display: grid;
	place-items: center;
	max-height: 18px;
	background-color: transparent;
}

.pergunta-footer .respostas-text {
	cursor: pointer;
}

.pergunta-respostas .resposta {
	border-top: 1px solid #e7e7e7;
	padding-top: 18px;
	padding-left: 23px;
	padding-bottom: 18px;
	padding-right: 23px;
}

.resposta-header {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;

	color: #5c5c5c;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.resposta-body {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;

	color: #4d4d4d;
}

.autor-badge {
	display: none;
	font-family: "Quicksand";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;

	/* identical to box height */

	color: #ed7839;
}

.resposta-autor {
	background-color: #f8f8f8;
}

.resposta-autor .autor-badge {
	display: block;
}

.page-footer {
	width: 100%;
}

/* breakpoint medio (medium) do bootstrap */
@media (max-width: 768px) {
	/* ajustes da barra de navegacao para dispositivos < medio */

	#logo-img {
		height: 60px;
	}
	.logo-text {
		margin-left: auto;
		flex-grow: 1;
	}

	#site {
		position: relative;
	}

	main.container {
		padding-right: 5px;
		padding-left: 5px;
	}

	header.header {
		padding-right: 5px;
		padding-left: 5px;
	}

	.coluna-nav {
		height: unset;
	}

	.coluna-conteudo {
		max-height: unset;
		overflow: hidden;
	}

	.navbar-toggler:focus {
		box-shadow: none;
	}

	.video-overlay {
		padding: 5px;
	}

	.video-overlay__titulo {
		font-size: 15px;
		overflow: hidden;
		line-clamp: 2;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		white-space: normal;
		text-overflow: ellipsis;
		max-width: 100%;
		display: -webkit-box;
	}

	.legenda .legenda__nome {
		font-size: 20px;
	}

	.legenda .legenda__descricao {
		font-size: 15px;
	}
}

/* breakpoint grande (large) do bootstrap */

@media (max-width: 992px) {
	/* ajuste de layout para dispositivos < grande */
	.coluna-video {
		padding-right: 0;
	}

	.coluna-detalhes__painel {
		height: 200px;
	}
}
